div img{
    width: 80px;
}
div h5{
    font-family: museo-sans, Montserrat ;
    font-size: 10%;
}
*{
    display: flex;
    justify-content: center;
    width: 300px;
}
.characters{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    
}
