#characters{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 200px;
    margin-left: 20px;
    font-family: museo-sans, Montserrat ;
}
#characters h3{
    text-align: left;
    margin-left: 120px;
}
