#featured{
    display: flex;
    flex-direction: column;
    height: 220px;
    border: solid 1px rgb(166, 166, 166);
    border-radius: 10px;
    width: 200px;
    margin-left: 20px;
    font-family: museo-sans, Montserrat ;
}
#featured img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    object-fit: cover;
}
#featured h5{
    margin: 10px;
    color: #4d4d4d;
}
#featured p{
    font-size: 10px;
    color: #5f5f5f;
    margin: 10px;
}